.sidebar {
    width: 250px;
}
.m-auto{
    width: 80%;
    padding-top: 50px;
    position: fixed;
    left: 30px;
}
.nav-style{
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
}